<div class="sec-nav text-center">
  <h1>Welcome <%= @user.username %></h1>
</div>
<div class="container feed-container">
  <div class="row">
    <div id="masonry-container">
      <% @album.each do |item| %>
        <div class="box">
          <%= image_tag item.images.low_resolution.url %>
        </div>
      <% end %>
    </div>
  </div>
</div>
