<nav class="navbar navbar-inst navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <%= material_icon.menu %>
      </button>
    </div>
      <%= render 'layouts/navbar' %>
  </div>
</nav>
